/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

html {
  font-size: 1.125em;     /*18px / 16px = 1.125em*/
  line-height: 1.222em;   /*22px is 1 gridline at 18px | 22px / 18px = 1.222em*/
  background-color: #FFFFFF;
  color: #000000;
  font-family: 'Quicksand', Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

b {
  font-weight: 500;
}

img {
  display: block;
  max-width: 100%;
  border: 0;
}

#page {
  padding: 1.222em 0.91666667em; /*one gridline and 16.5px to achieve minor third: (4/3) (22/16.5px)*/
}

#verdin-logo {
  width: 11.1111111em; /*200px | 200/18=11.111111em*/
  display: block;
  margin: 0 auto;
  padding-bottom: 1.222em; /*One gridline = 22px*/
}

#menu-button {
  position: absolute;
  right: 0.91666667em; /*16.5px from right*/
  height: 2.44444444em; /*44px*/
  width: 2.44444444em; /*44px*/
  background: url("./images/menu_icon.svg") no-repeat;
  background-size: 2.2222222em; /*40px*/
  background-position: 50%;
  font-size: 100%;
  padding: 0;
  border: 0;
  -webkit-appearance: none;
  -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
  -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
  box-sizing: border-box;
}

#home-collage {
  margin-left: -0.91666667em; /*Makes image full bleed. 16.5px | 16.5/18=0.91666667em*/
  margin-right: -0.91666667em;
}

#social-media {
  text-align: center;
  padding-top: 2.77777778em;
}

#social-media figure {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: auto;
}

#social-media img {
  height: 1.9444444em; /*35px | 35/18=1.944444em*/
  width: 1.9444444em; /*35px | 35/18=1.944444em*/
  padding: 0.277777778em; /*5px on each side | 5/18=0.277777778em*/
}

.hidden {
  visibility: hidden;
  position: absolute;
}

.visible {
  visibility: visible;
  position: static;
}

#navbar {
  text-align: center;
  padding: 2.44444444em 0 1.222222em 0; /*44px top, 22px bottom (2 gridlines and 1 gridline)*/
}

#navbar a {
  display: block;
  padding: 0.61111111em 0; /*11px and 0*/
}

li {
  padding-bottom: 0.611111111em; /*11px, half gridline*/
}

#navfoot {
  visibility: hidden;
  position: absolute;
}

.content-tier {
  padding: 0.6111111em 0 0 1.22222em;
}

#gallery,
#gallery figure,
#gallery a {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
}

#gallery li,
#gallery figure,
#gallery a {
  box-sizing: content-box;
  width: calc((100vw - 3.388888em) * (1/3)); /*3.38888em=(16.5+16.5[#page-padding])+16px[4*4 border]+12[2*6padding]*/
  height: calc((100vw - 3.388888em) * (1/3));
  padding: 0;
}

#gallery a {
  align-items: center;
  justify-content: center;
}

#gallery img {
  max-height: 100%;
  max-width: 100%;
}

#gallery li {
  border-bottom: solid 0.222222em black; /*4px |4/18=0.22222em*/
  padding: 0.111111em; /*2px | 2/18=0.11111em*/
}

#gallery li:nth-child(2n) {
  border-left: solid 0.222222em black; /*4px |4/18=0.22222em*/
  border-right: solid 0.222222em black;
  border-bottom: solid 0.222222em black;
}

#gallery li:nth-child(3n+3),
#gallery li:last-child {
  border-right: solid 0.222222em black;
}

#gallery li:nth-child(6n+1) {
  border-left: solid 0.222222em black; /*4px |4/18=0.22222em*/
}

#gallery li:nth-child(-n+3) {
  border-top: solid 0.222222em black; /*4px |4/18=0.22222em*/
}

label,
input,
textarea {
  display: block;
  width: 100%;
  font-family: inherit;
  font-size: 100%;
  padding: 0;
  border: 0;
  -webkit-appearance: none;
  -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
  -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
  box-sizing: border-box;
}

#code-text {
  height: 4.54545454em; /*100px / 22px = 4.16666667em*/
  margin-top: 0.5909090909em; /*13px*/
  border: 0.33333333em solid #fafafa;
  background: #fafafa;
  resize: none;
  color: #37003C;
}

#code-submit {
  font-size: 1.8020454554em; /*39.645px / 22px = 1.8020454554em*/
  height: 1.891789633em; /*75px / 39.645px = 1.891789633em*/
  max-height: 1.891789633em; /*75px / 39.645px = 1.891789633em*/
  margin-top: 0.3279102031em; /*13px / 39.654px = 0.3279102031em*/
  background: #37003C;
  color: #00FE87;
  font-weight: 600;
}

/* 480px @ 16px/em*/
/* Based on an 4 column grid with 16px gutters*/
@media screen and (min-width: 30em) {
  #page {
    padding-left: 3.33333333%;
    padding-right: 3.33333333%;
  }

  #verdin-logo {
    width: 13.888888889em; /*250px*/
  }

  #home-collage {
    margin: 0;
  }

  #menu-button {
    right: 3.333334%;
  }

  #gallery li,
  #gallery figure,
  #gallery a {
    width: calc(((100vw - 6.666666vw) - 1.5555556em) * (1/3)); /*1.5555556em=16px[4*4 border]+12px[2*6padding]*/
    height: calc(((100vw - 6.666666vw) - 1.5555556em) * (1/3));
  }
}

/* 600px @ 16px/em*/
/* Based on an 8 column grid with 16px gutters*/
@media screen and (min-width: 37.5em) {
  #page {
    padding-left: 2.66667%;
    padding-right: 2.66667%;
  }

  #menu-button {
    right: 2.66667%;
  }

  #gallery li,
  #gallery figure,
  #gallery a {
    width: calc(((100vw - 5.33334vw) - 1.5555556em) * (1/3)); /*1.5555556em=16px[4*4 border]+12px[2*6padding]*/
    height: calc(((100vw - 5.33334vw) - 1.5555556em) * (1/3));
  }
}

/* 840px @ 16px/em*/
/* Based on a 12 column grid with 24px gutters*/
@media screen and (min-width: 52.5em) {
  #page {
    padding-left: 19.04762%;
    padding-right: 19.04762%;
  }

  /*.with-line {*/
    /*margin-left: 19.04762%;*/
    /*margin-right: 19.04762%;*/
    /*margin-top: 0.6111111em;*/
    /*padding: 0.6111111em;*/
    /*border: 0.055555556em solid #000000;*/
  /*}*/

  #navbar,
  #menu-button {
    visibility: hidden;
    position: absolute;
  }

  #navfoot {
    visibility: visible;
    padding-top: 1.222222em;
    width: calc(100% - 38.09524% - 1.22222em);
  }

  #navfoot li {
    width: 25%;
    float: left;
    text-align: center;
  }

  #gallery li,
  #gallery figure,
  #gallery a {
    width: calc(((100vw - 38.09524vw) - 2em) * (1/4)); /*2em=20px[4*5 border]+16[2*8padding]*/
    height: calc(((100vw - 38.09524vw) - 2em) * (1/4));
  }

  #gallery li:nth-child(n) {
    border: 0;
    border-bottom: solid 0.222222em black;
    border-left: solid 0.222222em black;
  }

  #gallery li:nth-child(-n+4) {
    border-top: solid 0.222222em black;
  }

  #gallery li:nth-child(4n),
  #gallery li:last-child {
    border-right: solid 0.222222em black;
  }
}

/* 1440px @ 16px/em*/
/* Based on a 12 column grid with 24px gutters*/
@media screen and (min-width: 90em) {
  #page {
    padding-left: 26.25%;
    padding-right: 26.25%;
  }

  #navfoot {
    width: calc(100% - 52.5% - 1.22222em);
  }

  #gallery li,
  #gallery figure,
  #gallery a {
    width: calc(((100vw - 52.5vw) - 2em) * (1/4)); /*2em=20px[4*5 border]+16[2*8padding]*/
    height: calc(((100vw - 52.5vw) - 2em) * (1/4));
  }
}
