/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

html {
  font-size: 1.125em;     /*18px / 16px = 1.125em*/
  line-height: 1.222em;   /*22px is 1 gridline at 18px | 22px / 18px = 1.222em*/
  background-color: #FFFFFF;
  color: #000000;
  font-family: 'Quicksand', Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

b {
  font-weight: 500;
}

img {
  display: block;
  max-width: 100%;
  border: 0;
}

#page {
  padding: 1.222em 0.91666667em; /*one gridline and 16.5px to achieve minor third: (4/3) (22/16.5px)*/
}

#verdin-logo {
  width: 11.1111111em; /*200px | 200/18=11.111111em*/
  display: block;
  margin: 0 auto;
  padding-bottom: 1.222em; /*One gridline = 22px*/
}

#home-collage {
  margin-left: -0.91666667em; /*Makes image full bleed. 16.5px | 16.5/18=0.91666667em*/
  margin-right: -0.91666667em;
}

#menu-button {
  position: absolute;
  right: 0.91666667em; /*16.5px from right*/
  height: 2.44444444em; /*44px*/
  width: 2.44444444em; /*44px*/
  background: url("./images/menu_icon.svg") no-repeat;
  background-size: 2.2222222em; /*40px*/
  background-position: 50%;
  font-size: 100%;
  padding: 0;
  border: 0;
  -webkit-appearance: none;
  -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
  -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
  box-sizing: border-box;
}

#social-media {
  text-align: center;
  padding-top: 2.77777778em;
}

#social-media figure {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: auto;
}

#social-media img {
  height: 1.9444444em; /*35px | 35/18=1.944444em*/
  width: 1.9444444em; /*35px | 35/18=1.944444em*/
  padding: 0.277777778em; /*5px on each side | 5/18=0.277777778em*/
}

.hidden {
  visibility: hidden;
  position: absolute;
}

.visible {
  visibility: visible;
  position: static;
}

#navbar {
  text-align: center;
  padding: 2.44444444em 0 1.222222em 0; /*44px top, 22px bottom (2 gridlines and 1 gridline)*/
}

#navbar a {
  display: block;
  padding: 0.61111111em 0; /*11px and 0*/
}

li {
  padding-bottom: 0.611111111em; /*11px, half gridline*/
}

#navfoot {
  visibility: hidden;
  position: absolute;
}

.content-tier {
  padding: 0.6111111em 0 0 1.22222em;
}

/* 480px @ 16px/em*/
@media screen and (min-width: 30em) {
  #page {
    padding-left: 3.33333333%;
    padding-right: 3.33333333%;
  }

  #verdin-logo {
    width: 13.888888889em; /*250px*/
  }

  #home-collage {
    margin: 0;
  }

  #menu-button {
    right: 3.333334%;
  }
}

/* 600px @ 16px/em*/
/* Based on an 8 column grid with 16px gutters*/
@media screen and (min-width: 37.5em) {
  #page {
    padding-left: 2.66667%;
    padding-right: 2.66667%;
  }

  #menu-button {
    right: 2.66667%;
  }
}

/* 840px @ 16px/em*/
/* Based on a 12 column grid with 24px gutters*/
@media screen and (min-width: 52.5em) {
  #page {
    margin-left: 19.04762%;
    margin-right: 19.04762%;
    margin-top: 0.6111111em;
    padding: 0.6111111em;
  }

  .with-line {
    border: 0.055555556em solid #000000;
  }

  #navbar,
  #menu-button {
    visibility: hidden;
    position: absolute;
  }

  #navfoot {
    visibility: visible;
    padding-top: 1.222222em;
    width: calc(100% - 38.09524% - 1.22222em);
  }

  #navfoot li {
    width: 25%;
    float: left;
    text-align: center;
  }
}

/* 1440px @ 16px/em*/
/* Based on a 12 column grid with 24px gutters*/
@media screen and (min-width: 90em) {
  #page {
    margin-left: 26.25%;
    margin-right: 26.25%;
  }

  #navfoot {
    width: calc(100% - 52.5% - 1.22222em);
  }
}
